// font

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spartan:wght@300;500;700&family=Supermercado+One&display=swap');


/*=====
Global Colors
======*/

/* Dark Theme 1*/
$very-dark-desaturated-blue:hsl(222, 26%, 31%);
$very-dark-desaturated-blue2:hsl(223, 31%, 20%);
$very-dark-desaturated-blue3:hsl(224, 36%, 15%);
$desaturated-dark-blue: hsl(225, 21%, 49%);
$desaturated-dark-blue2: hsl(224, 28%, 35%);
$red:hsl(6, 63%, 50%);
$dark-red: hsl(6, 70%, 34%);
$light-grayish-orange: hsl(30, 25%, 89%) ;
$grayish-orange: hsl(28, 16%, 65%);
$very-dark-greyish-blue: hsl(221, 14%, 31%);
$white: hsl(0, 0, 100%);


/* Light Theme 2*/
$light-gray: hsl(0, 0%, 90%);
$grayish-red: hsl(0, 5%, 81%);
$very-light-gray: hsl(0, 0%, 93%);
$dark-moderate-cyan: hsl(185, 42%, 37%);
$very-dark-cyan:hsl(185, 58%, 25%);
$orange: hsl(25, 98%, 40%);
$dark-orange: hsl(25, 99%, 27%);
$light-grayish-yellow: hsl(45, 7%, 89%);
$dark-grayish-orange: hsl(35, 11%, 61%);
$very-dark-grayish-yellow: hsl(60, 10%, 19%);
$white-secondary: hsl(0, 0, 100%);

/* Alternate Theme 3*/
$very-dark-violet: hsl(268, 75%, 9%); 
$Very-dark-violet2: hsl(268, 71%, 12%);
$Dark-violet: hsl(281, 89%, 26%);
$Vivid-magenta: hsl(285, 91%, 52%);
$Pure-cyan: hsl(176, 100%, 44%);
$Soft-cyan: hsl(177, 92%, 70%);
$Very-dark-violet: hsl(268, 47%, 21%);
$Dark-magenta: hsl(290, 70%, 36%);
$Light-yellow: hsl(52, 100%, 62%);
$Very-dark-blue: hsl(198, 20%, 13%);
$White-alternate: hsl(0, 0, 100%);


:root,
.dark {
   /*Bg*/
   --bg-main: #{$very-dark-desaturated-blue}; 
   --toggle-keypad-bg: #{$very-dark-desaturated-blue2};   
   --screen-bg: #{$very-dark-desaturated-blue3};   

   /*Keys*/
   --ky-bg: #{$desaturated-dark-blue};   
   --ky-bg-shadow: #{$desaturated-dark-blue2};
   --ky-bg-toggle: #{$red};
   --ky-shadow: #{$dark-red};
   --ky-single-bg: #{$light-grayish-orange};
   --ky-single-shadow: #{$grayish-orange};

   /*Text*/
   --text-primary: #{$very-dark-greyish-blue};
   --text-secondary: #{$white};

}

.light {
    /*Bg*/
    --bg-main: #{$light-gray}; 
    --toggle-keypad-bg: #{$grayish-red};   
    --screen-bg: #{$very-light-gray};   
 
    /*Keys*/
    --ky-bg: #{$dark-moderate-cyan};   
    --ky-bg-shadow: #{$very-dark-cyan};
    --ky-bg-toggle: #{$orange};
    --ky-shadow: #{$dark-orange};
    --ky-single-bg: #{$light-grayish-yellow};
    --ky-single-shadow: #{$dark-grayish-orange};
 
    /*Text*/
    --text-primary: #{$very-dark-grayish-yellow};
    --text-secondary: #{$white-secondary};
 }

 .alternate {
    /*Bg*/
    --bg-main: #{$Very-dark-violet}; 
    --toggle-keypad-bg: #{$Very-dark-violet2};   
    // --screen-bg: $very-light-gray;   
 
    /*Keys*/
    --ky-bg: #{$Dark-violet};   
    --ky-bg-shadow: #{$Vivid-magenta};
    --ky-bg-toggle: #{$Pure-cyan};
    --ky-shadow: #{$Soft-cyan};
    --ky-single-bg: #{$Very-dark-violet};
    --ky-single-shadow: #{$Dark-magenta};
 
    /*Text*/
    --text-primary: #{$Light-yellow};
    --text-secondary: #{$white-alternate};
    --text-alternate: #{$Very-dark-blue};
 }

 body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background: var(--bg-main);
     font-family: 'Poppins', sans-serif;
      font-family: 'Roboto', sans-serif;
      font-family: 'Spartan', sans-serif;
      font-family: 'Supermercado One', cursive;
 }

//  .attribution { font-size: 11px; text-align: center; }
//     .attribution a { color: hsl(228, 45%, 44%); }