@import './global';

body {
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Spartan', sans-serif;
    // font-family: 'Supermercado One'cursive;
    // background-color: $very-dark-desaturated-blue;
}

.calc-wrapper {
    border: 2px solid white;
    margin: 30px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    // background-color: $test-color;

    .title h2 {
      color: var(--text-secondary);
      font-size: 2rem;
    }

    .theme-toggler {
        display: flex;
        justify-content: center;
        align-items: center;

        .toggler {
            background: var(--toggle-keypad-bg);
            width: 54px;
            height: 16px;
            display: inline-block;
            padding: 3px 3px;
            margin: 2px;
            border-radius: 20px;
            position:relative;
            // border: 1px solid black; /* to be removed*/
        }

        .toggler label {
            text-align: center;
            display: inline-block;
            color: var(--text-secondary);
            position:relative;
            bottom: 25px;
            z-index:2;
            margin: 0;
            text-align: center;
            padding: 2px 3px;
            font-size: 12px;
            font-weight: bold;
            cursor: pointer; 
          }
          
          .toggler input {
            /* display: none; */
            position: absolute;
            z-index: 3;
            opacity: 0;
            cursor: pointer;
            width: 100%;
          }
          
          .toggler span {
            margin: 0 2px;
            height: 15px;
            width: 15px;
            line-height: 18px;
            border-radius: 50%;
            // background:#fff;
            display:block;
            position:absolute;
            left: 22px;
            top: 3px;
            transition:all 0.3s ease-in-out;
          }
          
          .toggler input[value="-1"]:checked ~ span{
            background:var(--ky-bg-toggle);
            left:2px;
            color:#fff;
          }
          
          .toggler input[value="true"]:checked ~ span{
            background:#27ae60;
            left: 40px;
          }
          .toggler input[value="false"]:checked ~ span{
            background:#95A5A6;
            left: 23px;
          }
          
          .toggler input[value="false"]:checked + label,
          .toggler input[value="true"]:checked + label{
            color:#fff;
          }
          .toggler input[value="-1"]:checked + label{
            color:#fff;
          }
          
    }

    .theme-toggler-title {
      color: var(--text-secondary);
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      margin: 6px 20px 0 0;
    }
}


.display-wrapper {
    background-color: var(--toggle-keypad-bg);
    height: 70px;
    border-radius: 15px;
    color: var(--text-secondary);
    text-align: left;
    padding: 20px;
    font-size: 40px;
    text-align: end !important;
   
   
}

.result {
  text-align:right;
}